.groupList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    padding: 20px 10px;
    height: 100%;
    overflow-y: auto;
}

.groupItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
}

.groupItem:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.groupItem img {
    border-radius: 5px;
    object-fit: cover;
}

.groupItem div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.groupItem div h3 {
    font-size: 1.1rem;
    font-weight: 400;
}

.groupItem div h3 span {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: #666;
}

.groupItem div p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #262626;
}