.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 20px;
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px 20px;
    overflow: hidden;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.header button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header .spacer {
    flex: 1;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #000;

}

.header .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 6px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.header .menu.active {
    background-color: #f3f3f3;
}

.header .menu span {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: #ff3a3a;
    color: #FFF;
    font-size: 12px;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

.body .calendar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 420px;
    gap: 30px;
    padding: 10px 20px;
    border-radius: 10px;

    overflow: hidden;
}

.body .calendar .section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sessionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 320px;

    overflow-y: auto;
}

.sessionItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.sessionItem h1 {
    font-size: 0.85rem;
    font-weight: 400;
    display: flex;
    flex: 3;
    overflow: hidden;
}

.sessionItem h2 {
    font-size: 0.85rem;
    font-weight: 400;
    display: flex;
    flex: 2;
    overflow: hidden;
}

.sessionItem h3 {
    font-size: 0.85rem;
    font-weight: 400;
    display: flex;
    flex: 2;
    overflow: hidden;
}

.sessionItem h4 {
    font-size: 0.85rem;
    font-weight: 400;
    display: flex;
    flex: 2;
}

.sessionItem div {
    display: flex;
    flex: 1.5;
}

.sessionItem div button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addSession {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addSession input {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addSession textarea {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addSession button {
    outline: none;
    border: none;
    background-color: #000000;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.addSession h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
}

.addSession p {
    font-size: 1rem;
    font-weight: 300;
    color: #000;
}

.participationList {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    height: calc(100% - 420px);
    overflow-y: auto;
}

.participationItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.participationItem h3 {
    font-size: 1.05rem;
    font-weight: 400;
    display: flex;
    flex: 3;
    overflow: hidden;
}

.participationItem h4 {
    font-size: 0.85rem;
    font-weight: 300;
    display: flex;
    flex: 2;
    overflow: hidden;
}

.participationItem p {
    font-size: 1.05rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    overflow: hidden;
}

.requestList {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    height: calc(100% - 420px);
    overflow-y: auto;
}

.requestItem {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.requestItem .spacer {
    flex: 1;
}

.requestItem a {
    padding: 4px 8px;
    font-size: 0.75em;
    font-weight: 300;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.requestItem h1 {
    font-size: 1.05rem;
    font-weight: 400;
    overflow: hidden;
}

.requestItem h3 {
    font-size: 1.1rem;
    font-weight: 500;
    overflow: hidden;
}

.requestItem h2 {
    font-size: 0.85rem;
    font-weight: 300;
    overflow: hidden;
}

.requestItem span {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #04ff26;
}

.requestItem button {
    outline: none;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px 10px;
    }

    .header {
        gap: 10px;
    }

    .header h1 {
        font-size: 20px;
    }

    .header .menu {
        padding: 4px 8px;
    }

    .header .menu span {
        top: -8px;
        right: -8px;
        padding: 2px 4px;
        font-size: 10px;
    }

    .body {
        padding: 10px 0;
    }

    .memberItem {
        padding: 10px 10px;
    }

    .memberItem h1 {
        font-size: 0.8rem;
    }

    .memberItem h2 {
        font-size: 0.8rem;
    }

    .memberItem h3 {
        font-size: 0.8rem;
    }

    .memberItem h4 {
        font-size: 0.8rem;
    }

    .memberItem div {
        flex: 1;
    }

    .memberItem button {
        padding: 4px 8px;
    }
}